{% extends "layout.html.twig" %}


{% block title %}MotClé{% endblock %}

{% block content %}
{% for annonce in annonces %}
    
    
         <div class="container-fluid">
    <h3>Titre de l'annonce :  {{annonce.Title}}</h2>
        <p>Lien : <a href="http://{{annonce.Link}}">{{annonce.Link}}</a></p>
        <p>Description : {{annonce.Desc}}</p>
    {% if annonce.Score is not null %}    
        <p>Score : {{annonce.Score.Score}}</p>
    {% endif %}
    {% for extra in annonce.Extra %}
        <p> Informations supplémentaires : {{extra.Text}} </p>
       
    {% endfor %}   
    
    
    
    {% if annonce.MiniAnnonce is not null %}
        <div class="row">
        <hr>
        <h4> Mini Annonces </h4>
        {% for mini in annonce.MiniAnnonce %}
        <div class="col-sm-3">
            <p> {{mini.Title}} </p>
            <a href="{{mini.Link}}">{{mini.Link}}</a>
            <p> {{mini.Desc}} </p>
        </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if annonce.LienAnnonce is not null %}
    <hr>
    <h4> Lien Annonces </h4>
    {% for lien in annonce.LienAnnonce %}
        <p> {{lien.Title}} </p>
        <a href="{{lien.Link}}">{{lien.Link}}</a>
    {% endfor %}
    {% endif %}
    
    </div>
{% endfor %}

{% endblock %}