{% extends "layout.html.twig" %}


{% block title %}MotClé{% endblock %}


{% block content %}
       <div class="starter-template">
      <h1>Entrez un mot clé</h1>
        <p class="lead"> <p> Trouver les annonces correspondant à un mot</p>
        <div class="form-group">
        {{ form_start(form,{ 'attr':  {
            'class': 'form-inline',}}) }}
            {{ form_errors(form.keyword) }}
    {{ form_widget(form.keyword, { 'attr':  {
    'rows': '4',
    'class': 'form-control',
    'placeholder': 'Entrez un mot clé'
    }}) }}
    
    

<input type="submit" class="btn btn-primary" value="Ajouter ce mot clé" />
</div>
</div>
{{ form_end(form) }}


<div class="row">
        <h1>Vos mots clés</h1>
       
      
       {% for keyword in keywords %}
        <div class="col-sm-3">
            <p>{{keyword.Keyword}}</p>
        </div>
        {% endfor %}
        </div>
{% endblock %}