<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/style.css') }}" rel="stylesheet">
    <script src="{{ asset('/lib/bootstrap/js/jquery.js') }}"></script>
    <script src="{{ asset('/lib/bootstrap/js/bootstrap.min.js') }}"></script>
    
    <title>Outil de monitoring - {% block title %}{% endblock %}</title>
</head>
<body>
 <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                <a href="#" class="navbar-left"><img src="{{ asset('/img/logo-okki.png') }}" width="50px"></a>
                </div>
                <a class="navbar-brand" href="">Interface de monitoring</a>
                <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost/test/projet/web/">Home</a></li>
                <li><a href="http://localhost/test/projet/web/index.php/keyword">Keyword</a></li>
                 <li><a href="http://localhost/test/projet/web/index.php/scrapper">Scrapper</a></li>
                 <li><a href="http://localhost/test/projet/web/index.php/archives">Archives</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                   <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                </div>
                </div>
            </nav>
            </div><!-- /.container -->
        
     
       <div class="container">


     <div id="content">{% block content %}{% endblock %}</div>


    </div>
    <footer class="footer">
        <div class="container">
        <p class="text-muted">© Copyright 2001 - 2017 | Mentions légales | Politique de Gestion des Cookies | Conditions Générales de Vente | Plan du site | Tous droits Réservés | Okki.</p>
    </div>
    </footer>
  
</body>
</html>